<div class="row sticky-top" style="top: 80px">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body px-4 pt-4 pb-3">
                <div class="row">
                    <div class="col">
                        {% if site.data.profile.portrait_url %}
                        <!-- When the screen is wider than md, float the portrait on the right -->
                        <div class="figure d-none d-md-block">
                            <img 
                                src="{{ site.data.profile.portrait_url | relative_url }}" 
                                class="figure-img img-fluid" 
                                data-toggle="tooltip" 
                                data-placement="top" 
                                title="{{ site.data.profile.portrait_caption }}">
                        </div>
                        <div class="mb-3 d-md-none text-center">
                            <img src="{{ site.data.profile.portrait_url | relative_url }}" class="rounded-circle" style="max-width: 50%;" alt="Portrait">
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center h4">
                        {{ site.data.profile.primary_name }}
                    </div>
                </div>
                {% if site.data.profile.secondary_name %}
                <div class="row">
                    <div class="col text-center small text-muted">
                        {{ site.data.profile.secondary_name }}
                    </div>
                </div>
                {% endif %}

                <div class="row small">
                    <div class="col text-center">
                        {% for position in site.data.profile.positions %}
                        {{ position.name }}<br/>
                        {% endfor %}
                    </div>
                </div>

                <div class="row small">
                    <div class="col text-center">
                        <a class="email-text" href="mailto:{{ site.data.profile.email | encode_email }}">
                            {{ site.data.profile.email | replace: "@", "(at)" }}
                        </a>
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col text-center profile-social-icons">
                        {% if site.data.profile.gscholar %}
                        {%- if site.data.profile.gscholar contains 'scholar.google' -%}
                        {%- assign gscholar_url = site.data.profile.gscholar -%}
                        {%- else -%}
                        {%- assign gscholar_url = 'https://scholar.google.com/citations?user=' | append: site.data.profile.gscholar -%}
                        {%- endif -%}
                        <a class="px-1 no-break" target="_blank" href="{{ gscholar_url }}">
                            <i class="fab fa-google-scholar"></i>
                        </a>
                        {% endif %}

                        {% if site.data.profile.cv_link %}
                        {%- if site.data.profile.cv_link == "#" or site.data.profile.cv_link contains '://' -%}
                        {%- assign cv_url = site.data.profile.cv_link -%}
                        {%- else -%}
                        {%- assign cv_url = site.data.profile.cv_link | relative_url -%}
                        {%- endif -%}
                        <a class="px-1 no-break" target="_blank" href="{{ cv_url }}">
                            <i class="fas fa-file-alt"></i>
                        </a>
                        {% endif %}
                        
                        {% if site.data.profile.github %}
                        {%- if site.data.profile.github == "#" or site.data.profile.github contains 'github.com' -%}
                        {%- assign github_url = site.data.profile.github -%}
                        {%- else -%}
                        {%- assign github_url = 'https://github.com/' | append: site.data.profile.github -%}
                        {%- endif -%}
                        <a class="px-1 no-break" target="_blank" href="{{ github_url }}">
                            <i class="fab fa-github"></i>
                        </a>
                        {% endif %}

                        {% if site.data.profile.facebook %}
                        <a class="px-1 no-break" target="_blank" href="{{ site.data.profile.facebook }}">
                            <i class="fab fa-facebook"></i>
                        </a>
                        {% endif %}

                        {% if site.data.profile.wechat_qrcode %}
                        <a class="px-1 no-break" data-toggle="modal" data-target="#modal-wechat">
                            <i class="fab fa-weixin"></i>
                        </a>
                        {% endif %}
                        {% if site.data.profile.wechat %}
                        <a class="px-1 no-break" target="_blank" href="{{ site.data.profile.wechat }}">
                            <i class="fab fa-weixin"></i>
                        </a>
                        {% endif %}

                        {% if site.data.profile.twitter %}
                        {%- if site.data.profile.twitter == "#" or site.data.profile.twitter contains 'twitter.com' or site.data.profile.twitter contains 'x.com' -%}
                        {%- assign twitter_url = site.data.profile.twitter -%}
                        {%- else -%}
                        {%- assign twitter_url = 'https://x.com/' | append: site.data.profile.twitter -%}
                        {%- endif -%}
                        <a class="px-1 no-break" target="_blank" href="{{ twitter_url }}">
                            <i class="fab fa-twitter"></i>
                        </a>
                        {% endif %}

                        {% if site.data.profile.linkedin %}
                        {%- if site.data.profile.linkedin == "#" or site.data.profile.linkedin contains 'linkedin.com' -%}
                        {%- assign linkedin_url = site.data.profile.linkedin -%}
                        {%- else -%}
                        {%- assign linkedin_url = 'https://www.linkedin.com/in/' | append: site.data.profile.linkedin -%}
                        {%- endif -%}
                        <a class="px-1 no-break" target="_blank" href="{{ linkedin_url }}">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        {% endif %}

                        {% if site.data.profile.orcid %}
                        {%- if site.data.profile.orcid == "#" or site.data.profile.orcid contains 'orcid.org' -%}
                        {%- assign orcid_url = site.data.profile.orcid -%}
                        {%- else -%}
                        {%- assign orcid_url = 'https://orcid.org/' | append: site.data.profile.orcid -%}
                        {%- endif -%}
                        <a class="px-1 no-break" target="_blank" href="{{ orcid_url }}">
                            <i class="fab fa-orcid"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% if site.data.profile.wechat_qrcode %}
<div class="modal fade" id="modal-wechat" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body p-0">
                <img src="{{ site.data.profile.wechat_qrcode | relative_url }}" class="img-fluid">
            </div>
            {% if site.data.profile.wechat_prompt %}
            <div class="modal-body p-1">
                {{ site.data.profile.wechat_prompt }}
            </div>
            {% endif %}
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
